body {
    font-family: $font-body-family;
    color: $font-color;
    font-weight: 400;
    font-size: $font-size;
}

// all headings
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $font-heading-family;
    font-weight: 700;
}

// individual heading/paragraph
h1 {
    font-family: 'Abril Fatface', cursive; // example only
    font-size: 17vh;
    line-height: 1;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

// links
a {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
}

// lists
ol, 
ul {}

ol {}

ul {}

/*
// Client/Custom (hosted) fonts
$typography-custom-font-url: '../fonts/';
// change '[SCSS Interpolation Hash]' to '#' if you need to use this
@font-face {
    font-family: "Web Font Name";
    src: url("[SCSS Interpolation Hash]{ $typography-custom-font-url }web-font-filename.eot?#iefix");
    src: url("[SCSS Interpolation Hash]{ $typography-custom-font-url }web-font-filename.eot?#iefix") format("eot"), 
        url("[SCSS Interpolation Hash]{ $typography-custom-font-url }web-font-filename.woff") format("woff"), 
        url("[SCSS Interpolation Hash]{ $typography-custom-font-url }web-font-filename.ttf") format("truetype"), 
        url("[SCSS Interpolation Hash]{ $typography-custom-font-url }web-font-filename.svg#font-filename") format("svg");
}
*/

// Client/Custom (hosted) fonts, base folder — fonts may be nested in individual folders
$typography-custom-font-url: '../fonts/';

// EXAMPLE: Google Font
@font-face {
    font-family: 'Abril Fatface';
    src: url('#{ $typography-custom-font-url }/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}