// variables.scss
// Any/all site-wide variables (so that dependency order can be controlled in styles.scss)

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1024px !default;
$screen-xl: 1440px !default;

// font
$font-heading-family: "Arial", sans-serif;
$font-body-family: "Arial", sans-serif;
$font-color: #444;
$font-size: 14px;

// links
$link-color: #00f;
$link-hover-color: #77f;

// a11y focus
$focus-color: red;
$focus-width: 5px;

// transitions
$base-transition-duration: 195ms;
$base-transition-easing: cubic-bezier(0.4, 0.0, 0.2, 1);

// Tricksssy Unicode Entities
$character-non-breaking-space: '\00A0';
